[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = {version = "0.4.33", extras = ["cuda12"]}
equinox = "0.11.7"
optax = "0.2.3"
mujoco = "3.2.5"
mujoco-mjx = "*"
pyaml = "*"
wandb = "*"
ipython = "*"
matplotlib = "*"
diff-sim = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
