[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
equinox = "0.11.7"
optax = "0.2.3"
pyaml = "*"
wandb = "*"
ipython = "*"
matplotlib = "*"
diff-sim = {file = ".", editable = true}
mujoco = "3.2.3"
jax = "==0.4.33"
mujoco-mjx = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
